In [2]:
!pip install category-encoders

Collecting category-encoders
  Downloading https://files.pythonhosted.org/packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl (100kB)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from category-encoders) (0.10.1)
Requirement already satisfied: scipy>=0.19.0 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from category-encoders) (1.3.1)
Requirement already satisfied: numpy>=1.11.3 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from category-encoders) (1.16.5)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from category-encoders) (0.21.3)
Requirement already satisfied: patsy>=0.4.1 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from category-encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from category-encoders) (0.25.1)
Requirement already satisfied: joblib>=0.11 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category-encoders) (0.13.2)
Requirement already satisfied: six in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from patsy>=0.4.1->category-encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.21.1->category-encoders) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.21.1->category-encoders) (2019.3)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000002A26B70C248>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl

In [4]:
!pip install lightgbm

Collecting lightgbm
  Downloading https://files.pythonhosted.org/packages/c7/0b/a183c06e7778893b2f12bb3e2cdab57f142b4e49cd25cc643047f714e74c/lightgbm-2.3.0-py2.py3-none-win_amd64.whl (543kB)
Requirement already satisfied: scipy in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from lightgbm) (1.3.1)
Requirement already satisfied: scikit-learn in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from lightgbm) (0.21.3)
Requirement already satisfied: numpy in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from lightgbm) (1.16.5)
Requirement already satisfied: joblib>=0.11 in c:\users\sofib\appdata\local\continuum\anaconda3\lib\site-packages (from scikit-learn->lightgbm) (0.13.2)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.3.0

In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from category_encoders import TargetEncoder
import lightgbm as lgb

In [2]:
instance = None
target = 'Total Yearly Income [EUR]'
training_columns = [
    'Year of Record',
    'Age',
    'Gender',
    'Country',
    'Size of City',
    'Housing Situation',
    'University Degree',
    'Crime Level in the City of Employement',
    'Work Experience in Current Job [years]',
    'Satisfation with employer',
    'Yearly Income in addition to Salary (e.g. Rental Income)',
    'Wears Glasses',
    'Hair Color',
    'Profession',
    'Body Height [cm]',
    target
]

In [3]:
def read_data():
    training_df = pd.read_csv('./tcd-ml-comp-201920-income-pred-group/tcd-ml-1920-group-income-train.csv')
    test_df = pd.read_csv('./tcd-ml-comp-201920-income-pred-group/tcd-ml-1920-group-income-test.csv')
    instance = test_df['Instance']
    return training_df, test_df

In [4]:
def preprocessing(df):
    df = df[training_columns]
    preprocess_gender(df)
    preprocess_year_of_record(df)
    preprocess_age(df)
    preprocess_university_degree(df)
    preprocess_housing_situation(df)
    preprocess_work_experience(df)
    preprocess_satisfaction_with_employer(df)
    preprocess_extra_income(df)
    preprocess_crime_level(df)
    preprocess_haircolor(df)
    preprocess_profession(df)
    drop_wears_glasses(df)
    return df

In [5]:
def preprocess_profession(df):
    df['Profession'].fillna('unknown', inplace=True)

In [6]:
def preprocess_gender(df):
    df['Gender'].replace('0', 'unknown', inplace = True)
    df['Gender'].fillna('unknown', inplace=True)

In [7]:
def preprocess_year_of_record(df):
    df['Year of Record'].fillna(df['Year of Record'].median(), inplace=True)

In [8]:
def preprocess_age(df):
    df['Age'].fillna(df['Age'].median(), inplace=True)

In [9]:
def preprocess_university_degree(df):
    df["University Degree"].replace('0', 'No', inplace=True)
    df['University Degree'].fillna('unknown', inplace=True)

In [10]:
def preprocess_housing_situation(df):
    df["Housing Situation"].replace('0', 'unknown', inplace=True)
    df["Housing Situation"].replace(0, 'unknown', inplace=True)
    df["Housing Situation"].replace('nA', 'unknown', inplace=True)
    df['Housing Situation'].fillna('unknown', inplace=True)

In [11]:
def preprocess_work_experience(df):
    df['Work Experience in Current Job [years]'].replace('#NUM!', '0', inplace=True)
    work_ex = [float(x) for x in df['Work Experience in Current Job [years]']]
    df['Work Experience in Current Job [years]'] = work_ex
    df['Work Experience in Current Job [years]'].fillna(df['Work Experience in Current Job [years]'].median(), inplace=True)

In [12]:
def preprocess_satisfaction_with_employer(df):
    df['Satisfation with employer'].fillna('unknown', inplace=True)

In [13]:
def preprocess_extra_income(df):
    extra = [x.replace(' EUR', '') for x in df['Yearly Income in addition to Salary (e.g. Rental Income)']]
    numerical_extra = [float(x) for x in extra]
    df['Yearly Income in addition to Salary (e.g. Rental Income)'] = numerical_extra
    df['Yearly Income in addition to Salary (e.g. Rental Income)'].fillna(df['Yearly Income in addition to Salary (e.g. Rental Income)'].median(), inplace=True)

In [14]:
def preprocess_crime_level(df):
    df['Crime Level in the City of Employement'].fillna(df['Crime Level in the City of Employement'].median(), inplace=True)

In [15]:
def preprocess_haircolor(df):
    df['Hair Color'].fillna('unknown', inplace=True)
    df.drop(['Hair Color'], axis=1, inplace=True)

In [16]:
def drop_wears_glasses(df):
    df.drop(['Wears Glasses'], axis=1, inplace=True)

# Read Training and Test Data

In [18]:
training_df, test_df = read_data()

C:\Users\sofib\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\sofib\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

# Preprocess the data

In [19]:
training_data_preprocessed = preprocessing(training_df)
test_data_preprocessed = preprocessing(test_df)

C:\Users\sofib\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\sofib\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\sofib\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sofib\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
training_data_preprocessed.head()

,Year of Record,Age,Gender,Country,Size of City,Housing Situation,University Degree,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Yearly Income in addition to Salary (e.g. Rental Income),Profession,Body Height [cm],Total Yearly Income [EUR]
0,1940.0,45,other,Afghanistan,25179,unknown,No,33,17.0,Unhappy,0.0,group head,182,6182.05
1,1940.0,17,female,Afghanistan,2278204,unknown,No,25,4.9,Unhappy,0.0,heavy vehicle and mobile equipment service tec...,172,6819.69
2,1940.0,48,female,Afghanistan,822134,unknown,Bachelor,34,21.0,Unhappy,0.0,sorter,144,8663.53
3,1940.0,42,female,Albania,59477,unknown,No,70,18.0,Average,0.0,quality control senior engineer,152,2400.64
4,1940.0,15,other,Albania,23494,unknown,Master,51,8.0,Happy,0.0,logistician,180,2816.18

In [25]:
test_data_preprocessed.head()

,Year of Record,Age,Gender,Country,Size of City,Housing Situation,University Degree,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Yearly Income in addition to Salary (e.g. Rental Income),Profession,Body Height [cm],Total Yearly Income [EUR]
0,1994.0,23,other,Serbia,734369,Small House,Bachelor,23,12.0,Average,0.0,quality assurance specialist,151,NaN
1,1964.0,44,unknown,Austria,897352,Castle,Master,16,20.0,Average,0.0,student data analyst,181,NaN
2,1974.0,21,unknown,Serbia,766,Large House,Bachelor,22,11.0,Average,0.0,project manager,179,NaN
3,1997.0,24,male,Sierra Leone,1150488,Large Apartment,Bachelor,41,14.0,Average,0.0,staff engineer / architect,201,NaN
4,1949.0,42,male,Ecuador,98532,unknown,No,22,17.0,Happy,0.0,machinist,163,NaN

In [22]:
test_data_preprocessed.head()

,Year of Record,Age,Gender,Country,Size of City,Housing Situation,University Degree,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Yearly Income in addition to Salary (e.g. Rental Income),Profession,Body Height [cm],Total Yearly Income [EUR]
0,1994.0,23,other,Serbia,734369,Small House,Bachelor,23,12.0,Average,0.0,quality assurance specialist,151,NaN
1,1964.0,44,unknown,Austria,897352,Castle,Master,16,20.0,Average,0.0,student data analyst,181,NaN
2,1974.0,21,unknown,Serbia,766,Large House,Bachelor,22,11.0,Average,0.0,project manager,179,NaN
3,1997.0,24,male,Sierra Leone,1150488,Large Apartment,Bachelor,41,14.0,Average,0.0,staff engineer / architect,201,NaN
4,1949.0,42,male,Ecuador,98532,unknown,No,22,17.0,Happy,0.0,machinist,163,NaN

In [20]:
y = training_data_preprocessed[target]
training_data_preprocessed.drop(target, axis=1, inplace=True)
test_data_preprocessed.drop(target, axis=1, inplace=True)

# Target Encoding

In [21]:
enc = TargetEncoder(cols=['Gender', 'Country', 'Profession', 'University Degree', 'Housing Situation', 'Satisfation with employer'])

In [22]:
enc.fit(training_data_preprocessed, y)

TargetEncoder(cols=['Gender', 'Country', 'Profession', 'University Degree',
                    'Housing Situation', 'Satisfation with employer'],
              drop_invariant=False, handle_missing='value',
              handle_unknown='value', min_samples_leaf=1, return_df=True,
              smoothing=1.0, verbose=0)

In [23]:
training_data_preprocessed = enc.transform(training_data_preprocessed)
test_data_preprocessed = enc.transform(test_data_preprocessed)

In [24]:
training_data_preprocessed.head()

,Year of Record,Age,Gender,Country,Size of City,Housing Situation,University Degree,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Yearly Income in addition to Salary (e.g. Rental Income),Profession,Body Height [cm]
0,1940.0,45,71399.961738,191828.953279,25179,9923.185537,60670.032070,33,17.0,157393.908986,0.0,55301.387315,182
1,1940.0,17,50288.775230,191828.953279,2278204,9923.185537,60670.032070,25,4.9,157393.908986,0.0,62616.405270,172
2,1940.0,48,50288.775230,191828.953279,822134,9923.185537,68112.302736,34,21.0,157393.908986,0.0,70670.102123,144
3,1940.0,42,50288.775230,135701.550567,59477,9923.185537,60670.032070,70,18.0,65225.792792,0.0,63171.291534,152
4,1940.0,15,71399.961738,135701.550567,23494,9923.185537,76785.113519,51,8.0,68667.004068,0.0,66590.907652,180

In [25]:
test_data_preprocessed.head()

,Year of Record,Age,Gender,Country,Size of City,Housing Situation,University Degree,Crime Level in the City of Employement,Work Experience in Current Job [years],Satisfation with employer,Yearly Income in addition to Salary (e.g. Rental Income),Profession,Body Height [cm]
0,1994.0,23,71399.961738,55455.055050,734369,77083.612777,68112.302736,23,12.0,65225.792792,0.0,62898.905730,151
1,1964.0,44,68594.057012,56109.056230,897352,15257.786113,76785.113519,16,20.0,65225.792792,0.0,86835.876816,181
2,1974.0,21,68594.057012,55455.055050,766,24359.294031,68112.302736,22,11.0,65225.792792,0.0,60978.797749,179
3,1997.0,24,68722.119911,54394.105047,1150488,152213.276291,68112.302736,41,14.0,65225.792792,0.0,79762.440980,201
4,1949.0,42,68722.119911,126564.649291,98532,9923.185537,60670.032070,22,17.0,68667.004068,0.0,70288.980982,163

# Training the Model

In [26]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(training_data_preprocessed, y, test_size=0.2, random_state=0)

In [27]:
y_train_log = np.log(Ytrain)

In [28]:
from sklearn.metrics import mean_absolute_error

# light gbm

In [37]:
# trained the model with different combinations of the following parameters and different number of iterations.
trainingData = lgb.Dataset(Xtrain, label=y_train_log)
params = {}
params['learning_rate'] = 0.01
params['boosting_type'] = 'gbdt'
params['sub_feature'] = 0.8
params['num_leaves'] = 150
params['min_data'] = 100
params['max_depth'] = 10
#params['device_type'] = 'gpu'

In [38]:
reg = lgb.train(params, trainingData, 100000)

In [39]:
y_pred_lgb = np.exp(reg.predict(Xtest))

In [40]:
y_pred_lgb

array([162002.48048423,  15516.72363889,  27078.16295782, ...,
         1198.65730426,  20042.77540733,  63715.87852642])

In [41]:
mean_absolute_error(Ytest, y_pred_lgb)

8244.965034480228

In [42]:
y_pred_lgb_actual = np.exp(reg.predict(test_data_preprocessed))

In [45]:
submission_df = pd.DataFrame({'Instance': instance, 'Total Yearly Income [EUR]': y_pred_lgb_actual})

In [46]:
submission_df.to_csv('Submission_10.csv', index=False)